body { 
    background-color:#D8E8E0;   
}

/*HEADER*/

div.page-header{
    margin-top:20px;   
    background-color: #1F7F05;
    color: #F0E4FF;      
}


/*NAVBAR*/

ul.nav.nav-tabs {
    display: inline;
    float: right;
    color: black;
    margin-bottom: 30px;
    margin-top: 10px;    
}

a {
color: black;
}

/*BODY*/
.img-responsive{
    float:right;
}
p {
    text-align: justify;
}

